<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./public/css/bootstrap/bootstrap.min.css">
    <!--Seccion De Aos Animation-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="./public/aos.css">
    <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.min.css">
    <!--Seccion De Aos Animation-->
    <title>ViewsDavidGuetta</title>
    <link rel="stylesheet" href="../css/style.css">
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
    <link rel="icon" href="../img/LogoCircularNegro.webp" type="image/x-icon" alt="ImgNoEncontrada">
    <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
</head>

<body class="Letra">
    <!--Tener El navbar en un solo lugar fixed-top-->
    <!--COLOCAR EL ID A TODOS LOS MENU QUE QUIERAS COLOCAR id="menu"-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary TipoDeLetraYFondo" id="menu">
        <div class="container-fluid">
            <div class="ms-5">
                <a href="/index.html" class="ms-5 ContenidoDeVideos"><img class="navbar-brand ms-5"
                        src="../img/LogoPrincipal.webp" width="40rem" alt="ImgNoEncontrada" /></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><img src="./img/IconoDeNav.webp" width="25rem" alt="" /></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item ms-4 mt-1 ContenidoDeVideos">
                        <a class="btn" href="#Seccion1">
                            <h5 class="ms-2 mt-2 text-white"><b>Novedades</b></h5>
                        </a>
                    </li>
                    <li class="nav-item ms-4 mt-1 ContenidoDeVideos">
                        <a class="btn" href="#Seccion2">
                            <h5 class=" ms-2 mt-2 text-white"><b>Albunes (Canciones)</b></h5>
                        </a>
                    </li>
                    <li class="nav-item ms-4 mt-1 ContenidoDeVideos">
                        <a class="btn" href="#Seccion3">
                            <h5 class=" ms-2 mt-2 text-white"><b>Videos Musicales</b></h5>
                        </a>
                    </li>
                    <li class="nav-item ms-4 mt-1 ContenidoDeVideos">
                        <a class="btn" href="#Seccion4">
                            <h5 class=" ms-2 mt-2 text-white"><b>Historia del Sitio</b></h5>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Tener El navbar en un solo lugar fixed-top-->

    <div class="container">
        <div class="mt-4 text-center" data-aos="zoom-in">
            <h1 class="mt-4 TipoDeLetraEnTitulo text-white"><b>DANI FLOW</b></h1>
        </div>
        <!--Contenido De 2 Posiciones-->
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0" data-aos="zoom-in">
                <h5 class="text-white mt-4">Dani Flow es un cantante y compositor de reguetón conocido por su estilo
                    único y su capacidad para conectar con el público joven a través de sus letras y ritmos pegajosos.
                </h5>
                <h3 class="text-white mt-4 TipoDeLetraEnTitulo"><b>Primeros Años y Comienzos en la Música
                        <hr>
                    </b></h3>
                <h5 class="text-white mt-3">Dani Flow, cuyo nombre real es Daniel Flores, nació en una fecha y lugar que
                    no están ampliamente documentados en los medios públicos.</h5>
                <h5 class="text-white mt-3">Desde joven mostró un interés por la música urbana, especialmente el
                    reguetón, un género que combina influencias del reggae, el dancehall y el hip-hop, y que ha ganado
                    una enorme popularidad en América Latina y más allá.</h5>
            </div>
            <div class="col-sm-6 mt-2" data-aos="zoom-in">
                <div class="text-center ">
                    <img src="../img/ViewDaniFlowImg1.gif" class="mt-4 ColorDeCard6PorColumnas border-0 img-fluid"
                        width="500rem" alt="" srcset="">
                </div>
            </div>
        </div>
        <!--Contenido de 2 Posiciones-->

        <div class="text-center mt-4">
            <h1 class="mt-4 mb-4 TipoDeLetraEnTitulo text-white" data-aos="zoom-in"><b>PODCAS DE DANI FLOW</b></h1>
            <div class="ContenidoDeVideos">
                <iframe data-aos="zoom-in" width="560" height="300" class="rounded-3 ColorDeCard6PorColumnas" src="https://www.youtube.com/embed/qQANg7idzWQ?si=bE6l3T53lWMA0Rta"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            <div class="mt-5" data-aos="zoom-in">
                <h1 class="mt-5 TipoDeLetraEnTitulo text-white"><b>Premios y Reconocimientos</b></h1>
            </div>

            <!--Contenido De 2 Card Con Informacion Y Reproduccion-->
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0" data-aos="zoom-in">
                    <!--Contenido De Texto-->
                    <h3 class="text-white mt-3 TipoDeLetraEnTitulo">Estilo Musical</h3>
                    <h5 class="text-white mt-3"> El estilo de Dani Flow se caracteriza por ritmos pegajosos y letras que
                        reflejan la vida cotidiana de los jóvenes, sus experiencias amorosas y la cultura de la fiesta.
                    </h5>
                    <h3 class="text-white mt-3 TipoDeLetraEnTitulo">Legado</h3>
                    <h5 class="text-white mt-3"> Aunque todavía está en las primeras etapas de su carrera, Dani Flow ha
                        demostrado ser un artista talentoso con un potencial significativo. Su capacidad para crear
                        música que resuena con su audiencia y su habilidad para utilizar las plataformas digitales a su
                        favor le auguran un futuro brillante en la industria musical.</h5>
                    <!--Contenido De Texto-->
                </div>
                <div class="col-sm-6 mt-4" data-aos="zoom-in">
                    <br><br>
                    <iframe width="100%" height="166" class="mt-4 ColorDeCard6PorColumnas" scrolling="no" frameborder="no" allow="autoplay"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1747531845&color=%23000000&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
                    <div
                        style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                        <a href="https://soundcloud.com/emir-mosey" title="MOSEY" target="_blank"
                            style="color: #cccccc; text-decoration: none;">MOSEY</a> · <a
                            href="https://soundcloud.com/emir-mosey/putas-y-moet-dani-flow-ft"
                            title="PUTAS Y MOET -  Dani Flow Ft. Kevin Amf" target="_blank"
                            style="color: #cccccc; text-decoration: none;">PUTAS Y MOET - Dani Flow Ft. Kevin Amf</a>
                    </div>
                </div>
            </div>
            <!--Contenido De 2 Card Con Informacion Y Reproduccion-->

            <!--Contenido De 3 Card Img-->
            <div class="row row-cols-1 row-cols-md-3 g-4 mb-4 mt-4">
                <div class="col">

                    <div class="text-center" data-aos="fade-down">
                        <a href="https://open.spotify.com/intl-es/artist/1yX62RHdYysNcIrO33WQxJ"><img
                                src="../img/GifSpoty.gif" width="280rem" height="300rem"
                                class="rounded-circle shadow-lg border-1 img-fluid" alt="..."></a>
                    </div>

                </div>
                <div class="col">

                    <div class="text-center" data-aos="fade-up">
                        <a href="https://www.facebook.com/DavidGuetta"><img src="../img/GifFacebook.gif" width="280rem"
                                height="300rem" class="rounded-circle shadow-lg border-1 img-fluid" class="card-img-top"
                                alt="..."></a>
                    </div>

                </div>
                <div class="col">

                    <div class="text-center" data-aos="fade-down">
                        <a href="https://www.youtube.com/channel/UCWjf4BTPhE_FOW6S2_HLebA"><img
                                src="../img/GifYouTube.gif" width="280rem" height="300rem"
                                class="rounded-circle shadow-lg border-1 img-fluid" class="card-img-top" alt="..."></a>
                    </div>


                </div>
            </div>
            <!--Contenido De 3 Card Img-->

        </div>
    </div>

    <!--Container 5 ESTE ES EL BUENO QUE TIENES QUE COLOCAR EN TODOS-->
    <!--Vista Celular Footer-->
    <div class="shadow-lg border-1">
        <hr class="text-white">
        <!-- Logos juntos en vista móvil -->
        <div class="container d-flex flex-column justify-content-center align-items-center d-md-none mb-4">
          <div class="d-flex justify-content-center mb-3">
              <img src="../img/LogoPrincipal.webp" width="100rem" class="img-fluid mt-2 mb-2 mr-2" alt="Logo Principal">
              <img src="../img/LogoEscuela.webp" width="100rem" class="img-fluid mt-2 mb-2 ml-2" alt="Logo Gamer">
          </div>
          <div class="text-center mb-3">
                      <!--Contenido Final De Pagina-->
                      <h5 class="text-white mt-4 text-center"><b>Chord Cove <hr></b></h5>
                      <h6 class="text-white mt-3 mb-3 text-center">Descubre la magia de la música con el poder del Chord Code.</h6>
                    <!--Contenido Final De Pagina-->
          </div>
          <div class="text-center mb-3">
                      <!--Contenido Final De Pagina-->
                      <h5 class="text-white mt-4 text-center"><b>TecNM Campus Milpa Alta II <hr></b></h5>
                      <h6 class="text-white mt-3 mb-3 text-center">Chord Cove - Todos los Derechos Reservados</h6>
                      <!--Contenido Final De Pagina-->
          </div>
      </div>
        <!-- Logos separados en vista de escritorio -->
        <div class="container-fluid d-none d-md-flex justify-content-center align-items-center mt-4">
          <div class="text-center mb-3">
            <img src="../img/LogoEscuela.webp" width="150rem" class="img-fluid mt-2" alt="" srcset="">
          </div>
          <div class="text-center mb-3 mx-3"> <!-- Añadido mx-3 para margen horizontal -->
                      <!--Contenido Final De Pagina-->
                      <h5 class="text-white mt-4 text-center"><b>Chord Cove <hr></b></h5>
                      <h6 class="text-white mt-3 mb-3 text-center">Descubre la magia de la música con el poder del Chord Code.</h6>
                    <!--Contenido Final De Pagina-->
          </div>
          <div class="text-center mb-3 mx-3"> <!-- Añadido mx-3 para margen horizontal -->
                      <!--Contenido Final De Pagina-->
                      <h5 class="text-white mt-4 text-center"><b>TecNM Campus Milpa Alta II <hr></b></h5>
                      <h6 class="text-white mt-3 mb-3 text-center">Chord Cove - Todos los Derechos Reservados</h6>
                      <!--Contenido Final De Pagina-->
          </div>
          <div class="text-center">
            <img src="../img/LogoPrincipal.webp" width="150rem" class="img-fluid mt-2" alt="" srcset="">
          </div>
      </div>
      </div>
      <!--Vista Celular Footer-->
      <!--Container 5-->


        <!--Seccion De Aos Animation-->
        <script src="./js/mascaraDeCarga/Funcion.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script src="./public/aos.js"></script>
        <script>
            AOS.init();
        </script>
        <!--Seccion De Aos Animation-->
        <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
        <script src="../js/mascaraDeCarga/jquery-3.2.1.min.js"></script>
        <script src="../js/mascaraDeCarga/jquery.blockUI.js"></script>
        <script src="../js/mascaraDeCarga/mascara.js"></script>
        <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
        <script src="./public/js/jquery/jquery.min.js"></script>
        <script src="./public/js/bootstrap/bootstrap.min.js"></script>
</body>

</html>