<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./public/css/bootstrap/bootstrap.min.css">
        <!--Seccion De Aos Animation-->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="./public/aos.css">
        <link rel="stylesheet" href="../public/css/bootstrap/bootstrap.min.css">
        <!--Seccion De Aos Animation-->
    <title>ViewsDavidGuetta</title>
    <link rel="stylesheet" href="../css/style.css">
        <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
        <link rel="icon" href="../img/LogoCircularNegro.webp" type="image/x-icon" alt="ImgNoEncontrada">
        <!-- Linea Para Poder Colocar Un Icono En Tu Pag En La Pestaña -->
</head>
<body class="Letra">
      <!--Tener El navbar en un solo lugar fixed-top-->
    <!--COLOCAR EL ID A TODOS LOS MENU QUE QUIERAS COLOCAR id="menu"-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary TipoDeLetraYFondo" id="menu">
      <div class="container-fluid">
      <div class="ms-5">
          <a href="/index.html" class="ms-5 ContenidoDeVideos"><img class="navbar-brand ms-5" src="../img/LogoPrincipal.webp" width="40rem"
              alt="ImgNoEncontrada" /></a>
      </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"><img src="./img/IconoDeNav.webp" width="25rem" alt="" /></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                  <li class="nav-item ms-4 mt-1 ContenidoDeVideos">
                      <a class="btn" href="#Seccion1">
                          <h5 class="ms-2 mt-2 text-white"><b>Novedades</b></h5>
                      </a>
                  </li>
                  <li class="nav-item ms-4 mt-1 ContenidoDeVideos">
                      <a class="btn" href="#Seccion2">
                          <h5 class=" ms-2 mt-2 text-white"><b>Albunes (Canciones)</b></h5>
                      </a>
                  </li>
                  <li class="nav-item ms-4 mt-1 ContenidoDeVideos">
                      <a class="btn" href="#Seccion3">
                          <h5 class=" ms-2 mt-2 text-white"><b>Videos Musicales</b></h5>
                      </a>
                  </li>
                  <li class="nav-item ms-4 mt-1 ContenidoDeVideos">
                      <a class="btn" href="#Seccion4">
                          <h5 class=" ms-2 mt-2 text-white"><b>Historia del Sitio</b></h5>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <!--Tener El navbar en un solo lugar fixed-top-->
    <div class="container">
                <div class="mt-4 text-center" data-aos="zoom-in">
                    <h1 class="mt-4 TipoDeLetraEnTitulo text-white"><b>JULIÓN ÁLVAREZ</b></h1>
                </div>
                <!--Contenido De 2 Posiciones-->
                <div class="row">
                    <div class="col-sm-6 mb-3 mb-sm-0" data-aos="zoom-in">
                        <h5 class="text-white mt-5">Julio Álvarez, conocido profesionalmente como Julión Álvarez, es un famoso cantante mexicano de música banda y norteña. </h5>
                        <h5 class="text-white mt-3">Nacido el 11 de abril de 1983 en La Concordia, Chiapas, México, ha logrado una destacada carrera en el género regional mexicano, convirtiéndose en uno de los artistas más populares de su tiempo.</h5>
                        <h3 class="text-white mt-3 TipoDeLetraEnTitulo">Primeros Años Y Comienzos En La Música</h3>
                        <h5 class="text-white mt-3">Julión Álvarez creció en un ambiente donde la música era una parte importante de la cultura local. Desde joven mostró interés y talento para la música. Se trasladó a Tuxtla Gutiérrez para estudiar ingeniería mecánica, pero su pasión por la música lo llevó a integrarse en varios grupos locales, donde comenzó a forjar su camino en la industria musical.</h5>
                    </div>
                    <div class="col-sm-6 mt-4" data-aos="zoom-in">
                        <div class="text-center mt-4">
                            <img src="../img/ViewJulioAlvarezImg1.gif" class="mt-4 ColorDeCard6PorColumnas border-0 img-fluid" width="500rem" alt="" srcset="">
                        </div>
                    </div>
                  </div>
                <!--Contenido de 2 Posiciones-->


                <div class="mt-5" data-aos="zoom-in">
                    <h1 class="mt-5 TipoDeLetraEnTitulo text-white"><b>Carrera Con Banda MS</b></h1>
                </div>
                <h5 class="text-white" data-aos="zoom-in">El primer gran salto en su carrera vino cuando se unió a la Banda MS (Banda Sinaloense MS de Sergio Lizárraga) en 2003. Con Banda MS, Julión Álvarez ganó reconocimiento y popularidad, participando en varios álbumes y giras.</h5>
                <h5 class="text-white text-center" data-aos="zoom-in">Sin embargo, en 2007 decidió emprender una carrera como solista.</h5>



                <!--Contenido De 3 Card Img-->
                <div class="row row-cols-1 row-cols-md-3 g-4 mb-4 mt-4">
                    <div class="col">
              
                        <div class="text-center" data-aos="fade-down">
                            <a href="https://open.spotify.com/intl-es/artist/1bfl0AU8SqmLkElptOprhC"><img src="../img/GifSpoty.gif" width="280rem" height="300rem" class="rounded-circle shadow-lg border-1 img-fluid" alt="..."></a>
                        </div>

                    </div>
                    <div class="col">

                        <div class="text-center" data-aos="fade-up">
                            <a href="https://www.facebook.com/julion.alvares.9469"><img src="../img/GifFacebook.gif" width="280rem" height="300rem" class="rounded-circle shadow-lg border-1 img-fluid" class="card-img-top" alt="..."></a>
                        </div>

                    </div>
                    <div class="col">

                        <div class="text-center" data-aos="fade-down">
                            <a href="https://www.youtube.com/channel/UCbh61ZOdAzM_w2U0tS2XNJw"><img src="../img/GifYouTube.gif" width="280rem" height="300rem" class="rounded-circle shadow-lg border-1 img-fluid" class="card-img-top" alt="..."></a>
                        </div>


                    </div>
                </div>
                <!--Contenido De 3 Card Img-->
    
            </div>


    <!--Container 5 ESTE ES EL BUENO QUE TIENES QUE COLOCAR EN TODOS-->
    <!--Vista Celular Footer-->
    <div class="shadow-lg border-1">
      <hr class="text-white">
      <!-- Logos juntos en vista móvil -->
      <div class="container d-flex flex-column justify-content-center align-items-center d-md-none mb-4">
        <div class="d-flex justify-content-center mb-3">
            <img src="../img/LogoPrincipal.webp" width="100rem" class="img-fluid mt-2 mb-2 mr-2" alt="Logo Principal">
            <img src="../img/LogoEscuela.webp" width="100rem" class="img-fluid mt-2 mb-2 ml-2" alt="Logo Gamer">
        </div>
        <div class="text-center mb-3">
                    <!--Contenido Final De Pagina-->
                    <h5 class="text-white mt-4 text-center"><b>Chord Cove <hr></b></h5>
                    <h6 class="text-white mt-3 mb-3 text-center">Descubre la magia de la música con el poder del Chord Code.</h6>
                  <!--Contenido Final De Pagina-->
        </div>
        <div class="text-center mb-3">
                    <!--Contenido Final De Pagina-->
                    <h5 class="text-white mt-4 text-center"><b>TecNM Campus Milpa Alta II <hr></b></h5>
                    <h6 class="text-white mt-3 mb-3 text-center">Chord Cove - Todos los Derechos Reservados</h6>
                    <!--Contenido Final De Pagina-->
        </div>
    </div>
      <!-- Logos separados en vista de escritorio -->
      <div class="container-fluid d-none d-md-flex justify-content-center align-items-center">
        <div class="text-center mb-3">
          <img src="../img/LogoEscuela.webp" width="150rem" class="img-fluid mt-2" alt="" srcset="">
        </div>
        <div class="text-center mb-3 mx-3"> <!-- Añadido mx-3 para margen horizontal -->
                    <!--Contenido Final De Pagina-->
                    <h5 class="text-white mt-4 text-center"><b>Chord Cove <hr></b></h5>
                    <h6 class="text-white mt-3 mb-3 text-center">Descubre la magia de la música con el poder del Chord Code.</h6>
                  <!--Contenido Final De Pagina-->
        </div>
        <div class="text-center mb-3 mx-3"> <!-- Añadido mx-3 para margen horizontal -->
                    <!--Contenido Final De Pagina-->
                    <h5 class="text-white mt-4 text-center"><b>TecNM Campus Milpa Alta II <hr></b></h5>
                    <h6 class="text-white mt-3 mb-3 text-center">Chord Cove - Todos los Derechos Reservados</h6>
                    <!--Contenido Final De Pagina-->
        </div>
        <div class="text-center">
          <img src="../img/LogoPrincipal.webp" width="150rem" class="img-fluid mt-2" alt="" srcset="">
        </div>
    </div>
    </div>
    <!--Vista Celular Footer-->
    <!--Container 5-->
      
    <!--Seccion De Aos Animation-->
    <script src="./js/mascaraDeCarga/Funcion.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="./public/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!--Seccion De Aos Animation-->
    <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
    <script src="../js/mascaraDeCarga/jquery-3.2.1.min.js"></script>
    <script src="../js/mascaraDeCarga/jquery.blockUI.js"></script>
    <script src="../js/mascaraDeCarga/mascara.js"></script>
    <!--AQUI SOLO TIENES QUE COLOCAR LOS js DE LA MASCARA DE CARGA PARA QUE PUEDA FUNCIONAR-->
    <script src="./public/js/jquery/jquery.min.js"></script>
    <script src="./public/js/bootstrap/bootstrap.min.js"></script>
</body>
</html>